doctype html
html(lang="en")
	head
		title frontpage
		meta(charset="utf-8")
		link(rel='stylesheet', type="text/css", href="/style/frontpageStyle.css")
		script(type='text/javascript' src='/JS/getServerTime.js')
	body
		#page
			h1 Wierd Fanclub
			//- here is need a login
			h2 Login
			form(method='POST' action='/login')
				div.form-login
						input#registerdUsername(type='text', placeholder='Username', name='registerd-username')
				div.form-login
						input#registerdPassword(type='password', placeholder='Password', name='registerd-password')
				button(type="submit") Sign in
			hr
			form(method='GET', action='/requestform')
				button(type="submit") Register Now
			block content
			hr
			h2 Serverside time.
			#serverTime
			hr
			#sup Sup
				form(id="greetingForm")
					div.form-greeting
							input#greetingInput(type='text', placeholder='Say hi to server', name='hiServer') 
					button#submitBtn(type="submit") Sup
			//- method='POST' action='/sup'



