extends frontpage.pug

block content
	#formContainer
		h3 Register form
		form(method='POST' action='/register')
			div.form-element
				label(for='name') Name
				div
					input#name.form-input(type='text', placeholder='Enter Firstname', name='name')
			div.form-element
				label(for='lastname') Lastname
				div
					input#lastname.form-input(type='text', placeholder='Enter Lastname', name='lastname')
			div.form-element
				label(for='email') e-Mail
				div
					input#lastname.form-input(type='email', placeholder='Enter your email', name='email')
			div.form-element
				label(for='username') Username
				div
					input#username.form-input(type='text', placeholder='Enter Username', name='username')
			div.form-element
				label(for='password') Password
				div
					input#password.form-input(type='password', placeholder='Enter password', name='password')
			div.form-element
				label(for='password-confirm') Password-Confirm
				div
					input#passwordConf.form-input(type='password', placeholder='Enter password', name='password')
			button(type='submit') Sign up